@import 'vars/*'
@import 'base/*'
@import 'components/*'
html
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  box-sizing border-box

*, *:before, *:after
  box-sizing border-box
  margin 0

html,
body,
#__nuxt,
#__layout,
.__layout
  background#000000
  height 100%
  overscroll-behavior none
  position relative
  width 100%
body
  color $white
  *
    cursor none!important
  a
    color inherit
