

@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: local('Avenir Next LT Pro Bold'), local('AvenirNextLTPro-Bold'),
    url('~assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: local('Avenir Next LT Pro Demi'), local('AvenirNextLTPro-Demi'),
    url('~assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: local('Avenir Next LT Pro Regular'), local('AvenirNextLTPro-Regular'),
    url('~assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('~assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

