html,
body,
p
  font-size $fontSizeUnit
  line-height $lineHeight
  font-family $avenir
  font-size 20px
p
  margin-bottom 1em
  line-height 1.6

.title
  font-size 46px
  font-weight $bold
  display block
  margin-bottom 1em
  .device &
    font-size 30px
.vLarge
  font-weight $bold
  font-size 110px
  line-height .9
  text-transform uppercase
.large
  font-size 46px
  margin-bottom 1em
