//json('./../../variables.json')
$fontSizeUnit = 14px
$unitH = 100vw / 2880//1vw / 18
$unitV = 100vh / 1760 //1vh / 11
$lineHeight = 1.25

$black = #000000
$white = #FFFFFF
$avenir = 'Avenir', sans
$reg = 400
$demi = 600
$bold = 700
