.u-container
  width 80%
  max-width 920px
  margin 0 auto
  position relative
  .device &
    width 75%
.u-d-f
  display flex
  align-items flex-start
  justify-content space-between
  >*
    width calc(50% - 30px)
  .device &
    flex-direction column
    >*
      width 100%
